/* VARIABLES */
$br: 3px;
/* {# replace_color(data.colors.background) #} */
$bg: #282828;
/* {# replace_color(data.colors.background_h) #} */
$bg_h: #1d2021;
/* {# replace_color(data.colors.foreground) #} */
$fg: #ebdbb2;
/* {# replace_color(data.colors.red) #} */
$red: #cc241d;
/* {# replace_color(data.colors.light_red) #} */
$light_red: #fb4934;
/* {# replace_color(data.colors.green) #} */
$green: #98971a;
/* {# replace_color(data.colors.yellow) #} */
$yellow: #d79923;
/* {# replace_color(data.colors.orange) #} */
$orange: #d65d0e;
/* {# replace_color(data.colors.aqua) #} */
$aqua: #689d6a;
/* {# replace_color(data.colors.grey) #} */
$grey: #a89984;

/* GLOBALS */
* {
  /* {# replace_quoted(data.fonts.user) #}*/
  font-family: "NotoSansSerif";
  font-size: 16px;
}

.icon {
  /* {# replace_quoted(data.fonts.fira.propo) #}*/
  font-family: "FiraCodeNerdFontPropo";
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2rem 0.52rem 0.2rem 0.52rem;
  color: $fg;
}

button {
  all: unset;
}

.slider {
  trough {
    all: unset;
    background-color: $bg_h;
    min-height: 10px;
    min-width: 70px;
    border-radius: $br;

    slider {
      all: unset;
    }

    highlight {
      all: unset;
      background: $fg;
      border-radius: inherit;
    }
  }
}

/* WINDOWS */
.bar {

  all: unset;
  font-weight: bold;
  padding: 0 1.5em 0 1.5em;
  background: $bg;
  color: $fg;

  .widget-box {
    padding: 0.5rem;
  }

  .workspaces-widget {
    .icon {
      padding: 0;
    }

    button.active {
      .icon {
        color: $aqua;
      }
    }
  }

  .power-widget {
    $fg: $red;

    .icon {
      color: $fg;
    }

    widget {
      border-radius: $br;

      &:hover {
        background: rgba($fg, 0.2);
      }
    }
  }

  .battery-widget {
    padding-right: 0.5rem;

    &.full {
      $fg: $aqua;

      .icon {
        color: $fg;
      }
    }

    &.high {
      $fg: $yellow;

      .icon {
        color: $fg;
      }
    }

    &.half {
      $fg: $orange;

      .icon {
        color: $fg;
      }
    }

    &.low {
      $fg: $light_red;

      .icon {
        color: $fg;
      }
    }

    &.critical {
      $fg: $red;

      .icon {
        color: $fg;
      }
    }
  }

  .tray-widget {
    widget {
      border-radius: $br;

      &:hover {
        background: rgba($fg, 0.2);
      }

    }

    .active {
      background: rgba($fg, 0.2);
    }
  }
}


.tray {
  background: yellow;
}

.fullscreen {
  all: unset;
  font-size: 16px;

  label {
    color: green;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
