* {
  all: unset;
}

.bar {
  font-family: NotoSansSerif;
  background: red;
  padding: 0 1.5em 0 1.5em;
}

.icon {
  font-family: "FiraCodeNerdFont";
}

.bar .workspaces button.active {
  background: green;
}
